* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/************************/
/******* GENERAL ********/
*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px;
  box-shadow: 0 0 0 0.8rem rgb(230, 126, 34, 0.5);
 */
  outline: 2px dotted #e67e22;
}
strong {
  font-weight: 500;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  display: inline-block;
  transition: all 1s;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  padding: 1.2rem;
  align-self: flex-end;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
.center-text {
  text-align: center;
}
.heading-primary,
.heading-secondry,
.heading-tertiary {
  font-weight: 700;
  /* color: #45260a;*/
  color: #333;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondry {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.2rem;
}

.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/************************/
/******* HEADER ********/

.logo-img {
  height: 2.2rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
/************************/
/********* NAV ********/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-links:visited,
.main-nav-links:link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
.main-nav-links:active,
.main-nav-links:hover {
  color: #cf711f;
}
.main-nav-links.cta-nav:link,
.main-nav-links.cta-nav:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.main-nav-links.cta-nav:hover,
.main-nav-links.cta-nav:active {
  background-color: #cf711f;
}
/************************/
/******* HERO ********/
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero-container {
  display: grid;
  gap: 9.6rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  align-items: center;
}

.hero-desctiption {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.customer-imgs {
  display: flex;
}
.customer-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px #fdf2e9 solid;
}
.customer-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.highlight {
  color: #cf711f;
  font-weight: 700;
}
/************************/
/******* FEATURED ********/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.logos img:hover {
  filter: brightness(100%);
  opacity: 100%;
}

/************************/
/******* HOW IT WORKS ********/

.how-it-works-section {
  padding: 9.6rem 0;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::after,
.step-img-box::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  width: 45%;
  padding-bottom: 45%;
  z-index: -1;
}

.step-imgs {
  width: 35%;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.step-number {
  color: #ddd;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 2rem;
  line-height: 1.8;
}
/************************/
/******* MEALS ********/
.section-meal {
  padding: 9.6rem 0;
}
.meal {
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.2s;
}
.meal:hover {
  cursor: pointer;
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgb(0, 0, 0, 0.065);
}
.meal-img {
  width: 100%;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-atribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.meal-tag--vegetarian {
  background-color: #51cf66;
}
.meal-tag--vegan {
  background-color: #94d82d;
}
.meal-tag--paleo {
  background-color: #ffd43b;
}

.meal-tags {
  margin: 0.4rem 0;
  display: flex;
  gap: 0.4rem;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
/************************/
/******* CTA-SECTION ********/
.cta-section {
  padding: 9.6rem 0;
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.015);
  border-radius: 11px;
  background-image: linear-gradient(90deg, #eb984e, #e67e22);
  overflow: hidden;
}
.cta-text-box {
  color: #45260a;
  padding: 4.2rem 6.4rem 6.4rem 6.4rem;
}
.cta .heading-secondry {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-image-box {
  background-image: url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0px 1px 2px rgb(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.cta-form button {
}

/************************/
/******* FOOTER ********/
